<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>create an account</title>
        <link rel="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/dashboard/stylesheets/normalize.css" rel="stylesheet" type="text/css" /><link href="/dashboard/stylesheets/all.css" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <script src="/dashboard/javascripts/modernizr.js" type="text/javascript"></script>


    <link href="/dashboard/images/favicon.png" rel="icon" type="image/png" />

    </head>
    <body>
      <h1>login</h1>
      {% if message %}
          <div>
            {{message}}
          </div>
      {% endif %}
      <form action="{% url 'login'%}" method="post">
        {% csrf_token %}
        <input name="username" type="text"/>
        <input name="password" type="password"/>
        <input type="submit" value="login"/>
        <p>Dont have an account ?<a href="{% url 'register'%}">create</a></p>
      </form>
      
      <!--{% load crispy_forms_tags %}
-<form method="POST" class="form-group">
{% csrf_token %}
{{form|crispy}}
<button type="submit" class="btn btn-success" >login</button>
<p>Don't have an account? create one <a href="/register">here</a></p>
</form>-->
</body>
</html>